

a{
  text-decoration: none !important;
}

@font-face {
  font-family: Montserrat;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  }
  
  @font-face {
  font-family: Montserrat;
  src: url('../assets/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  }
  
  @font-face {
  font-family: Montserrat;
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(2rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .menu {
    animation: fadeIn 0.2s ease-in-out;
  }
*{
  font-family: Montserrat;
  font-display: swap;
}